:root {
  --spacing: 2px;
}

@theme {
  --spacing-*: initial;
  --spacing-none: calc(var(--spacing) * 0);
  --spacing-xss: calc(var(--spacing) * 1);
  --spacing-xs: calc(var(--spacing) * 2);
  --spacing-sm: calc(var(--spacing) * 3);
  --spacing-md: calc(var(--spacing) * 4);
  --spacing-lg: calc(var(--spacing) * 5);
  --spacing-xl: calc(var(--spacing) * 6);
  --spacing-xxl: calc(var(--spacing) * 7);
  --spacing-3xl: calc(var(--spacing) * 8);
  --spacing-4xl: calc(var(--spacing) * 9);
  --spacing-5xl: calc(var(--spacing) * 10);
  --spacing-6xl: calc(var(--spacing) * 12);
  --spacing-7xl: calc(var(--spacing) * 14);
  --spacing-8xl: calc(var(--spacing) * 16);
  --spacing-9xl: calc(var(--spacing) * 18);
  --spacing-10xl: calc(var(--spacing) * 20);
  --spacing-11xl: calc(var(--spacing) * 24);
  --spacing-12xl: calc(var(--spacing) * 28);
  --spacing-13xl: calc(var(--spacing) * 32);
  --spacing-14xl: calc(var(--spacing) * 40);
  --spacing-15xl: calc(var(--spacing) * 48);
}
