@import "tailwindcss";

:root {
  /* Primitive Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-slate-25: #fcfcfd;
  --color-slate-50: #f9fafb;
  --color-slate-100: #f0f2f4;
  --color-slate-200: #ebedef;
  --color-slate-300: #e6e8eb;
  --color-slate-400: #e0e3e6;
  --color-slate-500: #d7dbdf;
  --color-slate-600: #c1c8cd;
  --color-slate-700: #889096;
  --color-slate-800: #7d868c;
  --color-slate-900: #697177;
  --color-slate-950: #11181c;

  --color-indigo-25: #fcfcfd;
  --color-indigo-50: #fafbff;
  --color-indigo-100: #f0f4ff;
  --color-indigo-200: #e7edfe;
  --color-indigo-300: #d9e2fc;
  --color-indigo-400: #c8d5f9;
  --color-indigo-500: #adbff5;
  --color-indigo-600: #8fa6ef;
  --color-indigo-700: #3c61dd;
  --color-indigo-800: #385bcc;
  --color-indigo-900: #3451b2;
  --color-indigo-950: #101d47;

  --color-grass-25: #fbfefb;
  --color-grass-50: #f3fcf3;
  --color-grass-100: #ebf9eb;
  --color-grass-200: #def2de;
  --color-grass-300: #cceacd;
  --color-grass-400: #b9dfbc;
  --color-grass-500: #96cf9b;
  --color-grass-600: #64b974;
  --color-grass-700: #45a557;
  --color-grass-800: #3d994f;
  --color-grass-900: #297a3a;
  --color-grass-950: #1b311e;

  --color-amber-25: #fefcfb;
  --color-amber-50: #fff8eb;
  --color-amber-100: #fff4d6;
  --color-amber-200: #ffecbd;
  --color-amber-300: #ffe3a3;
  --color-amber-400: #ffd285;
  --color-amber-500: #f3b962;
  --color-amber-600: #ee9d2b;
  --color-amber-700: #ffb224;
  --color-amber-800: #ff9f1a;
  --color-amber-900: #ad5700;
  --color-amber-950: #4e2009;

  --color-tomato-25: #fffafa;
  --color-tomato-50: #fff6f5;
  --color-tomato-100: #fff1f0;
  --color-tomato-200: #ffe4e0;
  --color-tomato-300: #fdd8d3;
  --color-tomato-400: #fac6bd;
  --color-tomato-500: #f3aea0;
  --color-tomato-600: #ea9280;
  --color-tomato-700: #e54d2e;
  --color-tomato-800: #db4224;
  --color-tomato-900: #cc3314;
  --color-tomato-950: #361811;

  --color-purple-25: #fefbfe;
  --color-purple-50: #fdfaff;
  --color-purple-100: #f9f1fe;
  --color-purple-200: #f4e8fc;
  --color-purple-300: #eddcf9;
  --color-purple-400: #e4cdf4;
  --color-purple-500: #d4b5ed;
  --color-purple-600: #bf95e4;
  --color-purple-700: #8e4ec6;
  --color-purple-800: #8344bb;
  --color-purple-900: #793bb0;
  --color-purple-950: #2b0e44;
}

@theme {
  --color-*: initial;

  /* Theme Color */

  --color-transparent: rgba(0, 0, 0, 0);

  --color-white: var(--color-white);
  --color-white-trans-01: rgba(255, 255, 255, 0.01);
  --color-white-trans-03: rgba(255, 255, 255, 0.03);
  --color-white-trans-06: rgba(255, 255, 255, 0.06);
  --color-white-trans-09: rgba(255, 255, 255, 0.09);
  --color-white-trans-12: rgba(255, 255, 255, 0.12);
  --color-white-trans-18: rgba(255, 255, 255, 0.18);
  --color-white-trans-25: rgba(255, 255, 255, 0.25);
  --color-white-trans-39: rgba(255, 255, 255, 0.39);
  --color-white-trans-45: rgba(255, 255, 255, 0.45);
  --color-white-trans-59: rgba(255, 255, 255, 0.59);
  --color-white-trans-92: rgba(255, 255, 255, 0.92);
  --color-black: var(--color-black);
  --color-black-trans-01: rgba(0, 0, 0, 0.01);
  --color-black-trans-03: rgba(0, 0, 0, 0.03);
  --color-black-trans-05: rgba(0, 0, 0, 0.05);
  --color-black-trans-06: rgba(0, 0, 0, 0.06);
  --color-black-trans-07: rgba(0, 0, 0, 0.07);
  --color-black-trans-09: rgba(0, 0, 0, 0.09);
  --color-black-trans-11: rgba(0, 0, 0, 0.11);
  --color-black-trans-14: rgba(0, 0, 0, 0.14);
  --color-black-trans-22: rgba(0, 0, 0, 0.22);
  --color-black-trans-44: rgba(0, 0, 0, 0.44);
  --color-black-trans-48: rgba(0, 0, 0, 0.48);
  --color-black-trans-56: rgba(0, 0, 0, 0.56);
  --color-black-trans-91: rgba(0, 0, 0, 0.91);

  --color-base-25: var(--color-slate-25);
  --color-base-50: var(--color-slate-50);
  --color-base-100: var(--color-slate-100);
  --color-base-200: var(--color-slate-200);
  --color-base-300: var(--color-slate-300);
  --color-base-400: var(--color-slate-400);
  --color-base-500: var(--color-slate-500);
  --color-base-600: var(--color-slate-600);
  --color-base-700: var(--color-slate-700);
  --color-base-800: var(--color-slate-800);
  --color-base-900: var(--color-slate-900);
  --color-base-950: var(--color-slate-950);

  --color-brand-25: var(--color-indigo-25);
  --color-brand-50: var(--color-indigo-50);
  --color-brand-100: var(--color-indigo-100);
  --color-brand-200: var(--color-indigo-200);
  --color-brand-300: var(--color-indigo-300);
  --color-brand-400: var(--color-indigo-400);
  --color-brand-500: var(--color-indigo-500);
  --color-brand-600: var(--color-indigo-600);
  --color-brand-700: var(--color-indigo-700);
  --color-brand-800: var(--color-indigo-800);
  --color-brand-900: var(--color-indigo-900);
  --color-brand-950: var(--color-indigo-950);

  --color-success-25: var(--color-grass-25);
  --color-success-50: var(--color-grass-50);
  --color-success-100: var(--color-grass-100);
  --color-success-200: var(--color-grass-200);
  --color-success-300: var(--color-grass-300);
  --color-success-400: var(--color-grass-400);
  --color-success-500: var(--color-grass-500);
  --color-success-600: var(--color-grass-600);
  --color-success-700: var(--color-grass-700);
  --color-success-800: var(--color-grass-800);
  --color-success-900: var(--color-grass-900);
  --color-success-950: var(--color-grass-950);

  --color-warning-25: var(--color-amber-25);
  --color-warning-50: var(--color-amber-50);
  --color-warning-100: var(--color-amber-100);
  --color-warning-200: var(--color-amber-200);
  --color-warning-300: var(--color-amber-300);
  --color-warning-400: var(--color-amber-400);
  --color-warning-500: var(--color-amber-500);
  --color-warning-600: var(--color-amber-600);
  --color-warning-700: var(--color-amber-700);
  --color-warning-800: var(--color-amber-800);
  --color-warning-900: var(--color-amber-900);
  --color-warning-950: var(--color-amber-950);

  --color-danger-25: var(--color-tomato-25);
  --color-danger-50: var(--color-tomato-50);
  --color-danger-100: var(--color-tomato-100);
  --color-danger-200: var(--color-tomato-200);
  --color-danger-300: var(--color-tomato-300);
  --color-danger-400: var(--color-tomato-400);
  --color-danger-500: var(--color-tomato-500);
  --color-danger-600: var(--color-tomato-600);
  --color-danger-700: var(--color-tomato-700);
  --color-danger-800: var(--color-tomato-800);
  --color-danger-900: var(--color-tomato-900);
  --color-danger-950: var(--color-tomato-950);

  --color-additional-25: var(--color-purple-25);
  --color-additional-50: var(--color-purple-50);
  --color-additional-100: var(--color-purple-100);
  --color-additional-200: var(--color-purple-200);
  --color-additional-300: var(--color-purple-300);
  --color-additional-400: var(--color-purple-400);
  --color-additional-500: var(--color-purple-500);
  --color-additional-600: var(--color-purple-600);
  --color-additional-700: var(--color-purple-700);
  --color-additional-800: var(--color-purple-800);
  --color-additional-900: var(--color-purple-900);
  --color-additional-950: var(--color-purple-950);

  /* Contextual Color */

  /* Context colors for text and icons */

  --color-text-base-primary: var(--color-base-950);
  --color-text-base-primary_disabled: var(--color-base-700);

  --color-text-base-secondary: var(--color-base-900);
  --color-text-base-secondary_hover: var(--color-base-950);
  --color-text-base-secondary_active: var(--color-base-950);
  --color-text-base-secondary_disabled: var(--color-base-700);

  --color-text-base-tertiary: var(--color-base-700);
  --color-text-base-tertiary_hover: var(--color-base-800);
  --color-text-base-tertiary_active: var(--color-base-900);
  --color-text-base-tertiary_disabled: var(--color-base-600);

  --color-text-base-subtle: var(--color-base-600);
  --color-text-base-subtle_hover: var(--color-base-700);
  --color-text-base-subtle_active: var(--color-base-800);
  --color-text-base-subtle_disabled: var(--color-base-500);

  --color-text-overlay-w-primary: var(--color-white);
  --color-text-overlay-w-primary_hover: var(--color-white-trans-92);
  --color-text-overlay-w-primary_active: var(--color-white-trans-59);
  --color-text-overlay-w-primary_disabled: var(--color-white-trans-25);

  --color-text-overlay-w-secondary: var(--color-black-trans-14);
  --color-text-overlay-w-secondary_hover: var(--color-white-trans-45);
  --color-text-overlay-w-secondary_active: var(--color-white-trans-59);
  --color-text-overlay-w-secondary_disabled: var(--color-white-trans-25);

  --color-text-overlay-b-primary: var(--color-black);
  --color-text-overlay-b-primary_hover: var(--color-black-trans-91);
  --color-text-overlay-b-primary_active: var(--color-black-trans-56);
  --color-text-overlay-b-primary_disabled: var(--color-black-trans-22);

  --color-text-overlay-b-secondary: var(--color-black-trans-44);
  --color-text-overlay-b-secondary_hover: var(--color-black-trans-48);
  --color-text-overlay-b-secondary_active: var(--color-black-trans-56);
  --color-text-overlay-b-secondary_disabled: var(--color-black-trans-22);

  --color-text-brand: var(--color-brand-700);
  --color-text-brand_hover: var(--color-brand-800);
  --color-text-brand_active: var(--color-brand-900);
  --color-text-brand_disabled: var(--color-brand-600);

  --color-text-warning: var(--color-warning-800);
  --color-text-warning_hover: var(--color-warning-900);
  --color-text-warning_active: var(--color-warning-950);
  --color-text-warning_disabled: var(--color-warning-700);

  --color-text-success: var(--color-success-700);
  --color-text-success_hover: var(--color-success-800);
  --color-text-success_active: var(--color-success-900);
  --color-text-success_disabled: var(--color-success-600);

  --color-text-danger: var(--color-danger-700);
  --color-text-danger_hover: var(--color-danger-800);
  --color-text-danger_active: var(--color-danger-900);
  --color-text-danger_disabled: var(--color-danger-600);

  --color-text-additional: var(--color-additional-700);
  --color-text-additional_hover: var(--color-additional-800);
  --color-text-additional_active: var(--color-additional-900);
  --color-text-additional_disabled: var(--color-additional-600);

  /* Context colors for surface backgrounds */

  --color-bg-surface-base-primary: var(--color-white);
  --color-bg-surface-base-primary_hover: var(--color-base-50);
  --color-bg-surface-base-primary_active: var(--color-base-100);
  --color-bg-surface-base-primary_disabled: var(--color-base-100);

  --color-bg-surface-base-secondary: var(--color-base-50);
  --color-bg-surface-base-secondary_hover: var(--color-base-100);
  --color-bg-surface-base-secondary_active: var(--color-base-200);
  --color-bg-surface-base-secondary_disabled: var(--color-base-200);

  --color-bg-surface-base-tertiary: var(--color-base-100);
  --color-bg-surface-base-tertiary_hover: var(--color-base-200);
  --color-bg-surface-base-tertiary_active: var(--color-base-300);
  --color-bg-surface-base-tertiary_disabled: var(--color-base-300);

  --color-bg-surface-overlay-w-primary: var(--color-transparent);
  --color-bg-surface-overlay-w-primary_hover: var(--color-white-trans-01);
  --color-bg-surface-overlay-w-primary_active: var(--color-white-trans-03);
  --color-bg-surface-overlay-w-primary_disabled: var(--color-white-trans-03);

  --color-bg-surface-overlay-w-secondary: var(--color-white-trans-01);
  --color-bg-surface-overlay-w-secondary_hover: var(--color-white-trans-03);
  --color-bg-surface-overlay-w-secondary_active: var(--color-white-trans-06);
  --color-bg-surface-overlay-w-secondary_disabled: var(--color-white-trans-06);

  --color-bg-surface-overlay-w-tertiary: var(--color-white-trans-03);
  --color-bg-surface-overlay-w-tertiary_hover: var(--color-white-trans-06);
  --color-bg-surface-overlay-w-tertiary_active: var(--color-white-trans-09);
  --color-bg-surface-overlay-w-tertiary_disabled: var(--color-white-trans-09);

  --color-bg-surface-overlay-b-primary: var(--color-black-trans-01);
  --color-bg-surface-overlay-b-primary_hover: var(--color-black-trans-03);
  --color-bg-surface-overlay-b-primary_active: var(--color-black-trans-05);
  --color-bg-surface-overlay-b-primary_disabled: var(--color-black-trans-05);

  --color-bg-surface-overlay-b-secondary: var(--color-black-trans-03);
  --color-bg-surface-overlay-b-secondary_hover: var(--color-black-trans-05);
  --color-bg-surface-overlay-b-secondary_active: var(--color-black-trans-07);
  --color-bg-surface-overlay-b-secondary_disabled: var(--color-black-trans-07);

  --color-bg-surface-overlay-b-tertiary: var(--color-black-trans-05);
  --color-bg-surface-overlay-b-tertiary_hover: var(--color-black-trans-07);
  --color-bg-surface-overlay-b-tertiary_active: var(--color-black-trans-09);
  --color-bg-surface-overlay-b-tertiary_disabled: var(--color-black-trans-09);

  --color-bg-surface-brand-primary: var(--color-brand-25);
  --color-bg-surface-brand-primary_hover: var(--color-brand-50);
  --color-bg-surface-brand-primary_active: var(--color-brand-100);
  --color-bg-surface-brand-primary_disabled: var(--color-brand-100);

  --color-bg-surface-brand-secondary: var(--color-brand-50);
  --color-bg-surface-brand-secondary_hover: var(--color-brand-100);
  --color-bg-surface-brand-secondary_active: var(--color-brand-200);
  --color-bg-surface-brand-secondary_disabled: var(--color-brand-200);

  --color-bg-surface-brand-tertiary: var(--color-brand-100);
  --color-bg-surface-brand-tertiary_hover: var(--color-brand-200);
  --color-bg-surface-brand-tertiary_active: var(--color-brand-300);
  --color-bg-surface-brand-tertiary_disabled: var(--color-brand-300);

  /* Context colors for fill backgrounds */

  --color-bg-fill-base-primary: var(--color-base-700);
  --color-bg-fill-base-primary_hover: var(--color-base-800);
  --color-bg-fill-base-primary_active: var(--color-base-900);
  --color-bg-fill-base-primary_disabled: var(--color-base-600);
  --color-bg-fill-base-primary_subtle: var(--color-base-600);

  --color-bg-fill-base-secondary: var(--color-base-500);
  --color-bg-fill-base-secondary_hover: var(--color-base-600);
  --color-bg-fill-base-secondary_active: var(--color-base-700);
  --color-bg-fill-base-secondary_disabled: var(--color-base-400);
  --color-bg-fill-base-secondary_subtle: var(--color-base-400);

  --color-bg-fill-base-tertiary: var(--color-base-200);
  --color-bg-fill-base-tertiary_hover: var(--color-base-300);
  --color-bg-fill-base-tertiary_active: var(--color-base-400);
  --color-bg-fill-base-tertiary_disabled: var(--color-base-100);
  --color-bg-fill-base-tertiary_subtle: var(--color-base-100);

  --color-bg-fill-overlay-w-primary: var(--color-white);
  --color-bg-fill-overlay-w-primary_hover: var(--color-white-trans-59);
  --color-bg-fill-overlay-w-primary_active: var(--color-white-trans-45);
  --color-bg-fill-overlay-w-primary_disabled: var(--color-white-trans-39);
  --color-bg-fill-overlay-w-primary_subtle: var(--color-white-trans-39);

  --color-bg-fill-overlay-w-secondary: var(--color-white-trans-18);
  --color-bg-fill-overlay-w-secondary_hover: var(--color-white-trans-25);
  --color-bg-fill-overlay-w-secondary_active: var(--color-white-trans-39);
  --color-bg-fill-overlay-w-secondary_disabled: var(--color-white-trans-12);
  --color-bg-fill-overlay-w-secondary_subtle: var(--color-white-trans-12);

  --color-bg-fill-overlay-w-tertiary: var(--color-white-trans-06);
  --color-bg-fill-overlay-w-tertiary_hover: var(--color-white-trans-09);
  --color-bg-fill-overlay-w-tertiary_active: var(--color-white-trans-12);
  --color-bg-fill-overlay-w-tertiary_disabled: var(--color-white-trans-03);
  --color-bg-fill-overlay-w-tertiary_subtle: var(--color-white-trans-03);

  --color-bg-fill-overlay-b-primary: var(--color-black-trans-44);
  --color-bg-fill-overlay-b-primary_hover: var(--color-black-trans-48);
  --color-bg-fill-overlay-b-primary_active: var(--color-black-trans-56);
  --color-bg-fill-overlay-b-primary_disabled: var(--color-black-trans-22);
  --color-bg-fill-overlay-b-primary_subtle: var(--color-black-trans-22);

  --color-bg-fill-overlay-b-secondary: var(--color-black-trans-14);
  --color-bg-fill-overlay-b-secondary_hover: var(--color-black-trans-22);
  --color-bg-fill-overlay-b-secondary_active: var(--color-black-trans-44);
  --color-bg-fill-overlay-b-secondary_disabled: var(--color-black-trans-11);
  --color-bg-fill-overlay-b-secondary_subtle: var(--color-black-trans-11);

  --color-bg-fill-overlay-b-tertiary: var(--color-black-trans-07);
  --color-bg-fill-overlay-b-tertiary_hover: var(--color-black-trans-09);
  --color-bg-fill-overlay-b-tertiary_active: var(--color-black-trans-11);
  --color-bg-fill-overlay-b-tertiary_disabled: var(--color-black-trans-05);
  --color-bg-fill-overlay-b-tertiary_subtle: var(--color-black-trans-05);

  --color-bg-fill-brand-primary: var(--color-brand-700);
  --color-bg-fill-brand-primary_hover: var(--color-brand-800);
  --color-bg-fill-brand-primary_active: var(--color-brand-900);
  --color-bg-fill-brand-primary_disabled: var(--color-brand-600);
  --color-bg-fill-brand-primary_subtle: var(--color-brand-600);

  --color-bg-fill-brand-secondary: var(--color-brand-500);
  --color-bg-fill-brand-secondary_hover: var(--color-brand-600);
  --color-bg-fill-brand-secondary_active: var(--color-brand-700);
  --color-bg-fill-brand-secondary_disabled: var(--color-brand-400);
  --color-bg-fill-brand-secondary_subtle: var(--color-brand-400);

  --color-bg-fill-brand-tertiary: var(--color-brand-200);
  --color-bg-fill-brand-tertiary_hover: var(--color-brand-300);
  --color-bg-fill-brand-tertiary_active: var(--color-brand-400);
  --color-bg-fill-brand-tertiary_disabled: var(--color-brand-100);
  --color-bg-fill-brand-tertiary_subtle: var(--color-brand-100);

  --color-bg-fill-success-primary: var(--color-success-700);
  --color-bg-fill-success-primary_hover: var(--color-success-800);
  --color-bg-fill-success-primary_active: var(--color-success-900);
  --color-bg-fill-success-primary_disabled: var(--color-success-600);
  --color-bg-fill-success-primary_subtle: var(--color-success-600);

  --color-bg-fill-success-secondary: var(--color-success-500);
  --color-bg-fill-success-secondary_hover: var(--color-success-600);
  --color-bg-fill-success-secondary_active: var(--color-success-700);
  --color-bg-fill-success-secondary_disabled: var(--color-success-400);
  --color-bg-fill-success-secondary_subtle: var(--color-success-400);

  --color-bg-fill-success-tertiary: var(--color-success-200);
  --color-bg-fill-success-tertiary_hover: var(--color-success-300);
  --color-bg-fill-success-tertiary_active: var(--color-success-400);
  --color-bg-fill-success-tertiary_disabled: var(--color-success-100);
  --color-bg-fill-success-tertiary_subtle: var(--color-success-100);

  --color-bg-fill-warning-primary: var(--color-warning-700);
  --color-bg-fill-warning-primary_hover: var(--color-warning-800);
  --color-bg-fill-warning-primary_active: var(--color-warning-900);
  --color-bg-fill-warning-primary_disabled: var(--color-warning-600);
  --color-bg-fill-warning-primary_subtle: var(--color-warning-600);

  --color-bg-fill-warning-secondary: var(--color-warning-500);
  --color-bg-fill-warning-secondary_hover: var(--color-warning-600);
  --color-bg-fill-warning-secondary_active: var(--color-warning-700);
  --color-bg-fill-warning-secondary_disabled: var(--color-warning-400);
  --color-bg-fill-warning-secondary_subtle: var(--color-warning-400);

  --color-bg-fill-warning-tertiary: var(--color-warning-200);
  --color-bg-fill-warning-tertiary_hover: var(--color-warning-300);
  --color-bg-fill-warning-tertiary_active: var(--color-warning-400);
  --color-bg-fill-warning-tertiary_disabled: var(--color-warning-100);
  --color-bg-fill-warning-tertiary_subtle: var(--color-warning-100);

  --color-bg-fill-danger-primary: var(--color-danger-700);
  --color-bg-fill-danger-primary_hover: var(--color-danger-800);
  --color-bg-fill-danger-primary_active: var(--color-danger-900);
  --color-bg-fill-danger-primary_disabled: var(--color-danger-600);
  --color-bg-fill-danger-primary_subtle: var(--color-danger-600);

  --color-bg-fill-danger-secondary: var(--color-danger-500);
  --color-bg-fill-danger-secondary_hover: var(--color-danger-600);
  --color-bg-fill-danger-secondary_active: var(--color-danger-700);
  --color-bg-fill-danger-secondary_disabled: var(--color-danger-400);
  --color-bg-fill-danger-secondary_subtle: var(--color-danger-400);

  --color-bg-fill-danger-tertiary: var(--color-danger-200);
  --color-bg-fill-danger-tertiary_hover: var(--color-danger-300);
  --color-bg-fill-danger-tertiary_active: var(--color-danger-400);
  --color-bg-fill-danger-tertiary_disabled: var(--color-danger-100);
  --color-bg-fill-danger-tertiary_subtle: var(--color-danger-100);

  --color-bg-fill-additional-primary: var(--color-additional-700);
  --color-bg-fill-additional-primary_hover: var(--color-additional-800);
  --color-bg-fill-additional-primary_active: var(--color-additional-900);
  --color-bg-fill-additional-primary_disabled: var(--color-additional-600);
  --color-bg-fill-additional-primary_subtle: var(--color-additional-600);

  --color-bg-fill-additional-secondary: var(--color-additional-500);
  --color-bg-fill-additional-secondary_hover: var(--color-additional-600);
  --color-bg-fill-additional-secondary_active: var(--color-additional-700);
  --color-bg-fill-additional-secondary_disabled: var(--color-additional-400);
  --color-bg-fill-additional-secondary_subtle: var(--color-additional-400);

  --color-bg-fill-additional-tertiary: var(--color-additional-200);
  --color-bg-fill-additional-tertiary_hover: var(--color-additional-300);
  --color-bg-fill-additional-tertiary_active: var(--color-additional-400);
  --color-bg-fill-additional-tertiary_disabled: var(--color-additional-100);
  --color-bg-fill-additional-tertiary_subtle: var(--color-additional-100);

  /* Border Colors */
  --color-border-base-primary: var(--color-base-500);
  --color-border-base-primary_hover: var(--color-base-600);
  --color-border-base-primary_active: var(--color-base-700);
  --color-border-base-primary_disabled: var(--color-base-400);

  --color-border-base-secondary: var(--color-base-300);
  --color-border-base-secondary_hover: var(--color-base-400);
  --color-border-base-secondary_active: var(--color-base-500);
  --color-border-base-secondary_disabled: var(--color-base-200);

  --color-border-overlay-w-primary: var(--color-white-trans-18);
  --color-border-overlay-w-primary_hover: var(--color-white-trans-25);
  --color-border-overlay-w-primary_active: var(--color-white-trans-39);
  --color-border-overlay-w-primary_disabled: var(--color-white-trans-12);

  --color-border-overlay-w-secondary: var(--color-white-trans-09);
  --color-border-overlay-w-secondary_hover: var(--color-white-trans-12);
  --color-border-overlay-w-secondary_active: var(--color-white-trans-18);
  --color-border-overlay-w-secondary_disabled: var(--color-white-trans-06);

  --color-border-overlay-b-primary: var(--color-black-trans-14);
  --color-border-overlay-b-primary_hover: var(--color-black-trans-22);
  --color-border-overlay-b-primary_active: var(--color-black-trans-44);
  --color-border-overlay-b-primary_disabled: var(--color-black-trans-12);

  --color-border-overlay-b-secondary: var(--color-black-trans-09);
  --color-border-overlay-b-secondary_hover: var(--color-black-trans-11);
  --color-border-overlay-b-secondary_active: var(--color-black-trans-14);
  --color-border-overlay-b-secondary_disabled: var(--color-black-trans-07);

  --color-border-brand-primary: var(--color-brand-500);
  --color-border-brand-primary_hover: var(--color-brand-600);
  --color-border-brand-primary_active: var(--color-brand-700);
  --color-border-brand-primary_disabled: var(--color-brand-400);

  --color-border-brand-secondary: var(--color-brand-300);
  --color-border-brand-secondary_hover: var(--color-brand-400);
  --color-border-brand-secondary_active: var(--color-brand-500);
  --color-border-brand-secondary_disabled: var(--color-brand-200);

  --color-border-success-primary: var(--color-success-500);
  --color-border-success-primary_hover: var(--color-success-600);
  --color-border-success-primary_active: var(--color-success-700);
  --color-border-success-primary_disabled: var(--color-success-400);

  --color-border-success-secondary: var(--color-success-300);
  --color-border-success-secondary_hover: var(--color-success-400);
  --color-border-success-secondary_active: var(--color-success-500);
  --color-border-success-secondary_disabled: var(--color-success-200);

  --color-border-warning-primary: var(--color-warning-500);
  --color-border-warning-primary_hover: var(--color-warning-600);
  --color-border-warning-primary_active: var(--color-warning-700);
  --color-border-warning-primary_disabled: var(--color-warning-400);

  --color-border-warning-secondary: var(--color-warning-300);
  --color-border-warning-secondary_hover: var(--color-warning-400);
  --color-border-warning-secondary_active: var(--color-warning-500);
  --color-border-warning-secondary_disabled: var(--color-warning-200);

  --color-border-danger-primary: var(--color-danger-500);
  --color-border-danger-primary_hover: var(--color-danger-600);
  --color-border-danger-primary_active: var(--color-danger-700);
  --color-border-danger-primary_disabled: var(--color-danger-400);

  --color-border-danger-secondary: var(--color-danger-300);
  --color-border-danger-secondary_hover: var(--color-danger-400);
  --color-border-danger-secondary_active: var(--color-danger-500);
  --color-border-danger-secondary_disabled: var(--color-danger-200);

  --color-border-additional-primary: var(--color-additional-500);
  --color-border-additional-primary_hover: var(--color-additional-600);
  --color-border-additional-primary_active: var(--color-additional-700);
  --color-border-additional-primary_disabled: var(--color-additional-400);

  --color-border-additional-secondary: var(--color-additional-300);
  --color-border-additional-secondary_hover: var(--color-additional-400);
  --color-border-additional-secondary_active: var(--color-additional-500);
  --color-border-additional-secondary_disabled: var(--color-additional-200);
}
